.cache
.vscode
temp_db.json
.env
.eslintcache
.terraform*
terraform.tfstate*
*.tfstate
.venv
node_modules
looker.ini

.vertex_cf_auth_token
dist

explore-assistant-backend/terraform/backend.tf
generated_examples
explore-assistant-examples/combined_examples.csv
explore-assistant-examples/generated_examples_combined